.hero{
    background: #23232e;
    text-align: center;
    color: #fff;
    font-family: Segoe UI;
}
.hero .logo{
    margin-top: 80px;
    margin-bottom: 105px;
}
.hero .heading{
    text-transform: uppercase;
    font-size: 80px;
    margin-bottom: 45px;
    
}
.hero .subheading{
    width: 450px;
    margin: auto;
    font-size: 18px;
    line-height: 30px;
}
.hero .scroll-down{
    color: #fff;
    text-decoration: none;
    margin-top: 180px;
    display: inline-block;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 50%;
    vertical-align: middle;
    padding: 12px 14px;
    margin-bottom: 50px;
}